<!DOCTYPE html>
<html lang="en">
<head>
  <title>stupid calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container" id="container">
    <div class="row">
        <div class="col-xs-6">
           please see to the right for recent transactions 
        </div>
<div class="col-xs-6 form-group green-border-focus">
  <label>Recent transactions</label>
  <textarea class="form-control" rows="10" id="outlog"></textarea>
        </div>
    </div>
</div>
</body>
<script>
    //var output = document.getElementById('outlog');
    var output = document.getElementById('container').getElementsByClassName('row')[0].getElementsByClassName('col-xs-6')[1].getElementsByClassName('form-control')[0];
    //.getElementsByClassName('row')[0].getElementsByClassName("col-xs-6")[1].getElementById("outlog");
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for('stream') }}');
    xhr.send();

    setInterval(function() {
        //output.textContent = xhr.responseText;
        console.log(xhr.responseText.split('\n').length);
        var l = xhr.responseText.split('\n').length;
		if (l > 10)
		{
			output.textContent = xhr.responseText.split('\n').slice(l-11,l).join('\n');
		}
		else
		{
			output.textContent = xhr.responseText;
		}
    }, 500);
</script>

</html>

