<!DOCTYPE html>
<html lang="en">
<head>
  <title>stupid calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="modal fade" id="calculate" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>win+r > calculator would be a better choice</p>
                  <form role="form" id="calculateform" >
                  <div class="form-group">
                    <label for="number1">Number1</label>
                      <input type="text" class="form-control" name="number1"
                      id="number1" placeholder="Number1"/>
                  </div>
                  <div class="form-group">
                    <label for="number2">Number2</label>
                      <input type="text" class="form-control" name="number2"
                          id="number2" placeholder="Number2"/>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="op" checked value="add">add</label>
                  </div>
                  <div class="radio">
					<label><input type="radio" name="op" value="sub">substract</label>
                  </div>
                  <div class="radio">
					<label><input type="radio" name="op" value="multi">multiply</label>
                  </div>
                  <div class="radio">
					<label><input type="radio" name="op" value="divide">divide</label>
                  </div>
					
                  <button type="submit" class="btn btn-default" >Submit</button>
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
<script>
$(function(){
    $('#calculateform').on('submit', function(e){
        e.preventDefault();
	//var radiovals = document.forms["calculateform"]["op"];
        //var op = document.forms["calculateform"]["op"].value; 
        $.ajax({
            url: '/'+document.forms["calculateform"]["op"].value, //this is the submit URL
            type: 'GET', //or POST
            data: $('#calculateform').serialize(),
            success: function(data){
                 alert('api invoked; result='+data.result)
            }
        });
    });
});
</script>


<div class="container" id="container">
    <div class="row">
        <div class="col-xs-6">
            here will be the form
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#calculate">Calculate</button>
        </div>
<div class="col-xs-6 form-group green-border-focus">
  <label>Recent transactions</label>
  <textarea class="form-control" rows="10" id="outlog"></textarea>
        </div>
    </div>
</div>
</body>
<script>
    //var output = document.getElementById('outlog');
    var output = document.getElementById('container').getElementsByClassName('row')[0].getElementsByClassName('col-xs-6')[1].getElementsByClassName('form-control')[0];
    //.getElementsByClassName('row')[0].getElementsByClassName("col-xs-6")[1].getElementById("outlog");
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for('stream') }}');
    xhr.send();

    setInterval(function() {
        //output.textContent = xhr.responseText;
        console.log(xhr.responseText.split('\n').length);
        var l = xhr.responseText.split('\n').length;
		if (l > 10)
		{
			output.textContent = xhr.responseText.split('\n').slice(l-11,l).join('\n');
		}
		else
		{
			output.textContent = xhr.responseText;
		}
    }, 500);
</script>

</html>

